@mixin display($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin bcgEffect {
  background: linear-gradient(0deg, #c4c4c4, #c4c4c4),
    linear-gradient(
      181.06deg,
      rgba(0, 0, 0, 0.2) 0.91%,
      rgba(255, 255, 255, 0) 116.71%,
      rgba(255, 255, 255, 0) 116.72%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
